<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Informations</title>
</head>
<body>
  <h1>Informations sur l'application</h1>
  <p>Version : <%= appInfo %></p>
  <h4>Page Accueil</h4>
        <ul>
            <li><a href="/">Page accueil</a></li>
        </ul>
</body>
</html>
